@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #272727;
    font-family: "Montserrat", sans-serif;
}
header{
    margin: auto;
    text-align: center;
    width: 100%;
    background: red;
}
#logo{
    width: 90px;
    height: 90px;
    transition: 0.5s;
    text-align: left;
    border-radius: 100%;
    background: white;
    border: 5px solid white;

}
#logo:hover,
#logo.active {
    transform: rotate(360deg)
    scale(1.1);

}